* {
 box-sizing: border-box;
}
    
html {
    font-size: 10px;
    cursor: pointer;
}
    
body {
    font: 1.6rem "Titillium Web", sans-serif;
    color: #fff;
    margin: 0;
    text-align: center;
}
    
section {
    padding-top: 10rem;
    padding-bottom: 10rem;
}
    
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
    
a,
a:link,
a:visited {
    color: #fff;
    transition: all 200ms ease-in-out;
    text-decoration: none;
}
    
header {
    background: #87509c;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
    
p {
    margin: 10px;
}
    
footer {
    background: #344b8e;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
    
h1,
h2,
h3 {
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
}
    
h1 {
    font-size: 4.2rem;
    text-transform: none;
}
    
h2 {
    font-size: 4rem;
    letter-spacing: 3px;
}
    
h3 {
    font-size: 2.4rem;
    letter-spacing: 1px;
}
    
input,
textarea {
    padding: 2rem;
    background: #273a71;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font: 1.6rem "Titillium Web", sans-serif;
    width: 100%;
}
    
textarea {
    height: 20rem;
    resize: vertical;
}
    
button {
    border: 0;
    color: #fff;
    font: 600 1.8rem "Titillium Web", sans-serif;
    width: 30rem;
    height: 7rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
    align-self: center;
    transition: all 200ms ease-in-out;
}
    
.button-orange {
    background: #eb7e4c;
}
    
.button-orange:focus,
.button-orange:hover {
    background: #e96e35;
}
    
.button-orange:active {
    background: #e65d1e;
}
    
.button-blue {
    background: #30bae7;
    margin: 3rem auto auto auto;
}
    
.button-blue:focus,
.button-blue:hover {
    background: #1bb2e4;
}
    
.button-blue:active {
    background: #18a0cd;
}
    
.team {
    background: #e7f1f8;
    color: #3c4761;
}
    
.team-member {
    gap: 4rem;
}
    
.team-member-role {
    color: #30bae7;
}
    
.team-member-bio {
    margin-top: 3rem;
}
    
.team-member-intro {
    margin: 2rem 0;
    font-weight: 300;
}
    
.skills {
    color: #3c4761;
}
    
.skill-title {
    margin-top: 2rem;
}
    
.skill-circle {
    position: relative;
    font-size: 16rem;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #dfe8ed;
    margin: auto;
}
    
.skill-circle::after {
    position: absolute;
    top: 0.09em;
    left: 0.09em;
    display: flex;
    content: "";
    border-radius: 50%;
    background-color: #fff;
    width: 0.82em;
    height: 0.82em;
    transition: all 200ms ease-in-out;
}
    
.skill-circle *,
.skill-circle *::before,
.skill-circle *::after {
    box-sizing: content-box;
}
    
.skill-circle > span {
    position: absolute;
    width: 100%;
    z-index: 1;
    line-height: 5em;
    font-size: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
}
    
.skill-circle:hover > span {
    line-height: 3.33em;
    font-size: 0.3em;
}
    
.skill-circle:hover::after {
    top: 0.07em;
    left: 0.07em;
    width: 0.86em;
    height: 0.86em;
}
    
.skill-circle .bar,
.skill-circle.p70 .fill,
.skill-circle.p75 .fill,
.skill-circle.p85 .fill,
.skill-circle.p90 .fill {
    position: absolute;
    border: 0.09em solid;
    width: 0.82em;
    height: 0.82em;
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 50%;
}
    
.skill-circle.p70 .bar::after,
.skill-circle.p70 .fill,
.skill-circle.p75 .bar::after,
.skill-circle.p75 .fill,
.skill-circle.p85 .bar::after,
.skill-circle.p85 .fill,
.skill-circle.p90 .bar::after,
.skill-circle.p90 .fill {
    transform: rotate(180deg);
}
    
.p70 .bar {
    transform: rotate(252deg);
}
    
.p75 .bar {
    transform: rotate(270deg);
}
    
.p85 .bar {
    transform: rotate(306deg);
}
    
.p90 .bar {
    transform: rotate(324deg);
}
    
.skill-circle.p-blue .bar,
.skill-circle.p-blue .fill {
    border-color: #30bae7;
}
    
.skill-circle.p-pink .bar,
.skill-circle.p-pink .fill {
    border-color: #d74680;
}
    
.skill-circle.p-green .bar,
.skill-circle.p-green .fill {
    border-color: #17c2a4;
}
    
.skill-circle.p-orange .bar,
.skill-circle.p-orange .fill {
    border-color: #eb7e4c;
}
    
@keyframes scaleUp {
    0% {
    opacity: 0;
    transform: scale(0.8);
     }
    100% {
    opacity: 1;
    transform: scale(1);
     }
}
    
.testimonials {
    background: #d74680;
}
    
.sec-testimonials {
    gap: 13rem 10rem;
    text-align: left;
}
    
.testimonial {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
}
    
.testimonial-person-quote {
    font-style: italic;
    font-size: 2rem;
}
    
.testimonial-person-role {
    font-size: 1.8rem;
    color: #ffdd99;
}
    
.wrapper {
    display: flex;
    flex-flow: column wrap;
    gap: 8rem;
    max-width: 1140px;
    margin: auto;
}
    
.section-intro {
    margin-top: 2rem;
    font-size: 1.8rem;
}
    
.header {
    flex-flow: row wrap;
    justify-content: flex-end;
}
    
.link-nav {
    text-transform: uppercase;
    padding: 0.5rem 2rem;
}
    
.link-nav:hover {
    background: #643a79;
    border-radius: 5px;
}
    
.footer {
    flex-flow: row wrap;
    justify-content: center;
}
    
.link-footer {
    font-size: 2.4rem;
    font-weight: 600;
}
    
.link-footer:hover {
    color: #30bae7;
}
    
.sec-col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
    
.sec-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}
    
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
 }
    
.kids {
    background: #87509c;
    color: #f7f3ea;
}
    
.contact {
    background: #3c5499;
}
    
.sec-form {
    gap: 3rem;
    margin-bottom: 3rem;
}
    
.divide::after {
    content: "";
    display: block;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
    width: 10rem;
    margin: 1rem auto auto auto;
}
    
.circle {
    border-radius: 50%;
    transition: all 200ms ease-in-out;
    width: 200px;
    height: 200px;
}
    
.circle:focus,
.circle:hover,
.circle:active {
    border-radius: 0;
}
    
.rotate {
    transition: all 500ms ease-in-out;
}
    
.rotate:focus,
.rotate:hover,
.rotate:active {
    transform: rotate(360deg);
}
.fa-brands {
    transition: all 200ms ease-in-out;
    color: #ADD8E6;
    font-size: 30px;
}
    
.fa-solid {
    transition: all 200ms ease-in-out;
    color: #ADD8E6;
    font-size: 30px;
}
    
.fa-brands:focus,
.fa-brands:hover,
.fa-brands:active,
.fa-solid:focus,
.fa-solid:hover,
.fa-solid:active {
    transform: scale(1.3);
}
    
.div-contact::after {
    border-color: #273a71;
}
    
.div-team::after {
    border-color: #bdd1df;
}
    
.div-skills::after {
    border-color: #dfe8ed;
}
    
@media (max-width: 1200px) {
    footer,
    header,
    section {
      padding-left: 2rem;
      padding-right: 2rem;
        }
    
    .sec-column {
      grid-template-columns: 1fr 1fr;
        }
}
    
@media (max-width: 768px) {
        h1 {
        font-size: 3.2rem;
        }
    
        h2 {
        font-size: 2.4rem;
        }
    
        h3 {
        font-size: 2rem;
        }
    
        .header {
        justify-content: center;
        }
    
        .sec-column,
        .sec-col2 {
        grid-template-columns: 1fr;
        }
    
        .sec-testimonials {
        gap: 5rem;
        }
    
        .footer {
        gap: 3rem;
        }
    
        .testimonial {
        justify-items: center;
        }
}
    
@media (max-width: 425px) {
        section {
        padding-top: 5rem;
        padding-bottom: 5rem;
        }
    
        .wrapper {
        gap: 5rem;
        }
    
        .link-nav {
        padding-left: 1rem;
        padding-right: 1rem;
        }
    
        body,
        .link-footer,
        .testimonial-person-quote,
        ::placeholder {
        font-size: 1.2rem;
        }
    
        h1 {
        font-size: 2.4rem;
        }
    
        h2 {
        font-size: 2rem;
        }
    
        h3 {
        font-size: 1.6rem;
        }
    
        button {
        width: 20rem;
        font-size: 1.6rem;
        }
    
        .header {
        gap: 3rem;
        }
    
        .footer {
        gap: 1rem;
        }
    
        .section-intro,
        .portfolio-item-info,
        .testimonial-person-role {
        font-size: 1.4rem;
        }
}
    